.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.img-fluid {
max-width: 110%;
}

.home__title {
  font-size: 3rem;
  line-height: 1.25;
}

.login {
  padding-top: 5%;
  height: 100%;
  background-image: url(./assets/images/login.png);
  background-repeat: no-repeat;
  background-position: -21% 100%;
}

.signup {
  padding-top: 5%;
  height: 100%;
  background-image: url(./assets/images/signup.webp);
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: 50%;
}
