html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgb(240 244 253);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --green: #5aac44;
  --light-green: #61bd4f;
  --blue: #007fe2;
  --light-blue: #7189fb;
  --focus: #4c9aff;
}

.content {
  flex: 1 0;
  padding: 1.5rem 0;
  box-sizing: border-box;
}
