.auth {
  max-width: 30%;
}

.auth__submit {
  background-color: var(--green);
}

.auth__submit:hover {
  background-color: var(--light-green);
}

.auth__submit:focus {
  box-shadow: none;
}

.form-control:focus {
  outline: 1px var(--blue) solid;
  box-shadow: none;
}
